body{
	background-color: #111;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: darkOrchid;
}

a:hover{
	color: dodgerBlue;
}

a:active{
	color: SlateBlue;
}

a:visited{

}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: #191919;
	color: #fff;
  text-align: center;
	margin-bottom: 16px;
}

#main-header ul{
	padding: 0;
	list-style: none;
}

#main-header li{
	display: inline;
}

#main-header a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

#selected a{
	color: #fff;
	text-decoration: underline;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

#main-header a:hover{
	color: #aaa;
	text-decoration: none;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

#main-header a:active{
	color: #777;
	text-decoration: none;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

#post{
	background: #222;
	border: 1px #111 solid;
	border-radius: 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 8px;
	margin-right: 8px;
}

#profile-picture{
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	box-sizing: border-box;
	border-radius: 12%;
}

#icon{
	display: block;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}

#crypto-address{
	word-break: break-all;
	font-family: sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.grid-one {
  display: grid;
  grid-template-columns: auto;
}

.grid-two {
  display: grid;
  grid-template-columns: auto auto;
}

#main-footer{
	background: #191919;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 16px;
}

#main-footer ul{
	padding: 0;
	list-style: none;
}

#main-footer li{
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}
